* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 20rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.header {
  background-color: #fdfdfd;
  padding: 0.8rem;
  margin-top: 2rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 2rem;
}
.header__title a {
  color: #060606;
}
.header__title a i {
  margin-right: 0.5rem;
  color: #0abf53;
}
.header__list {
  display: flex;
  justify-content: center;
}
.header__list--item {
  padding: 1rem;
}
.header__link {
  color: #5e5e5e;
  transition: all 0.5s;
}
.header__link:hover {
  color: #0abf53;
}
.header__link.active {
  color: #0abf53;
}
.header__search a i {
  color: #060606;
}
/* end header */

/* banner */
.banner {
  background-image: url(./img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
}
.banner__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__title {
}

.banner__title--item {
  font-size: 3.5rem;
  font-weight: bold;
  color: #060606;
}

.banner__desc {
  margin: 2rem 0;
  color: #5e5e5e;
  line-height: 1.8;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.banner__view__menu {
  color: #fcfdfb;
  border: none;
  background-color: #0abf53;
  font-weight: 600;
  border-radius: 25px;
  padding: 1rem 2rem;
}
/* end banner */
